@import './assets/styles/mixins.less';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f6f6f6;
}
a {
  color: @default;
}
img {
  user-select: none;
}
.bg-white {
  background-color: #fff;
}
.bg-default {
  background-color: @ligth-default;
}
.page {
  margin-top: 15px;
  padding-bottom: 50px;
}
#navbar {
  > a {
    &.active {
      color: @default;
    }
  }
}
.flex-center {
  display: flex;
  justify-content: center;
}
.d-block {
  display: block;
}
