@import './assets/styles/mixins.less';
* {
  margin: 0;
  padding: 0;
}
a {
  color: @default;
}
.page {
  margin-top: 15px;
}
.btn-default {
  color: #fff;
  background-color: @default;
  border-color: @default;
}
.btn-default:hover {
  color: #fff;
  opacity: 0.7;
}

// nav
.nav-item {
  line-height: 44px;
}
.navbar-light .navbar-nav .nav-link.active {
  color: @default;
  font-size: 1.2rem;
}

// breadcrumb
.breadcrumb-item {
  display: flex;
  align-items: center;
}
.breadcrumb-item.active {
  font-size: 0.9rem;
}
